body {
	background: #f4f4f4;
}		
.main {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	padding: 20px;
	background: #fff;
}	
.container {
	margin-top: 10px;
}
.m-a-1 {
    margin: 1em;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}
.width-col-7{
    width: 14.2857%;
}
.dayBox {
    position: relative;
    padding: .35em 0em;
    margin: .2em;
    box-shadow: 1px 2px 5px #888;
    font-size: 20pt;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000;
}
.dayBox:hover {
    text-decoration: none;
    background-color: #428bca;
    color: #fff;
}
.dayBox.disabled {
    background-color: #eee;
    box-shadow: none;
    cursor: default;
    pointer-events: none;
}
.dayBox.disabled:hover {
    color: #000;
}
.text-bold {
    font-weight: bold;
}
.recordsCount {
    position: absolute;
    top: 0px;
    right: 2px;
    font-size: 50%;
    font-weight: normal;
    color: #888;
}
.dayBox:hover .recordsCount{
    color: #ddd;
}