body {
	background: #f4f4f4;
}		
.main {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	padding: 20px;
	background: #fff;
}	
.container {
	margin-top: 10px;
}
.m-a-1 {
    margin: 1em;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}
.dayBox {
    padding: .3em 0em;
    margin: .2em;
    box-shadow: 1px 2px 5px #888;
    font-size: 24pt;
}
.dayBox.disabled {
    background-color: #eee;
}