<h2 class="text-center">{{monthName}}</h2>
<div class="text-center">
    <div class="btn-group m-a-1">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{currentProfile.Title}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li data-ng-repeat="profile in profiles">
                    <a ng-href="#/calendar/{{profile.Id}}/date/{{year}}/{{month}}">{{profile.Title}}</a>
                </li>
            </ul>
        </div>
        <a href="#/profiles" class="btn btn-primary">Керувати</a>
    </div>
</div>

<table border="0" class="container-full">
    <tr>
        <td ng-repeat="day in daysOfWeek" class="text-center">
            {{day}}
        </td>
    </tr>
    <tr ng-repeat="week in days">
        <td ng-repeat="day in week" class="text-center width-col-7">
            <a href="#" ng-href="#/records/{{year}}/{{month}}/{{day.day}}" class="dayBox" ng-class="{'disabled':!day.currMonth}">
                {{day.day}}
            </a>
        </td>
    </tr>
</table>