<!-- Iryna Vakhnianyn -->
<div>
    <h2 class="text-center">{{date.monthName}} {{date.day}}, {{date.year}}</h2>
    <h3 class="text-center">Profile: {{currentProfile.Title}}</h3>

    <ul class="list-group">
        <li ng-repeat="record in records" class="list-group-item clearfix">
            <div ng-hide="isEditing && indexToEdit === $index">
                {{record.Text}}
                <span class="pull-right btn-group" >
                    <button class="btn btn-default btn-xs" ng-click="startEdit($index)" title="edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-default btn-xs" ng-click="DeleteRecord(record)" title="delete">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>

            <form ng-show="isEditing && indexToEdit === $index">
                <div class="input-group" ng-class="{'has-error' : errorEmpty || errorExist, 'has-feedback' : errorEmpty || errorExist}">
                    <input type="text" class="form-control" ng-model="newRecordText.Text" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-click="saveEdited($index)">save</button>
                        <button class="btn btn-default" type="button" ng-click="cancelEdit($index)">cancel</button>
                    </span>
                </div>
            </form>

        </li>
    </ul>

    <form>
        <div class="input-group" ng-class="{'has-error' : errorEmpty || errorExist, 'has-feedback' : errorEmpty || errorExist}">
            <input type="text" ng-model="newRecord" class="form-control" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="addRecord(newRecord)">add</button>
            </span>
        </div>
        <br/>
        <div class="alert alert-danger" ng-show="errorEmpty || errorExist">
            <strong>Error!</strong> <span ng-show="errorEmpty">Record is empty</span>
        </div>
    </form>
    <a href="#" ng-href="#/calendar/{{profileId}}/date/{{date.year}}/{{date.month}}">Back to Calendar</a>
</div>